<div class=" w-full flex flex-col justify-center">
  <h1 class="font-bold text-4xl w-full flex justify-center text-center mb-10">Your Cart</h1>

<% if @cart_items.present? %>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Product name
                </th>
                <th scope="col" class="px-6 py-3">
                  Category
                </th>
                <th scope="col" class="px-6 py-3">
                  Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Delete</span>
                </th>
            </tr>
            </thead>
        
          <% @cart_items.each do |item| %>
            <tbody>
                <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <%= item.product.name %>
                </th>
                <td class="px-6 py-4">
                    <%= item.product.category.name.capitalize %>
                </td>
                <td class="px-6 py-4">
                    <%= item.quantity %>
                </td>
                <td class="px-6 py-4">
                   $<%= item.quantity * item.product.price %>
                </td>
                <td class="px-6 py-4 text-right">
                    <%= button_to "Delete",cart_item_path(item), method: :delete,  onclick: "return confirm('Are you sure you want to delete this item?')",class:"font-medium text-red-600 dark:text-blue-500 hover:underline" %>
                </td>
                </tr>
                <% end %>
            </tbody>
         
        </table>
</div>
<% else %>
<p class="text-4xl text-gray-700 flex justify-center mt-20">Your Cart is Empty</p>
<% end %>
<%= button_to "Place Order" ,orders_path,method: :post,class:"rounded bg-green-700 px-2 py-1 text-white mt-10 hover:bg-green-900" %>
</div>
